body {
  background-color: darkslateblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
h1 {
  padding: 0;
  margin: 0;
}
.content {
  border: 6px solid black;
  background-color: red;
  padding: 8px;
}
.grid-wrapper {
  background-color: white;
  width: 30rem;
  height: 30rem;
  border: 4px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.val-wrapper {
  color: lightgray;
}
.square {
  flex-grow: 1;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}
